/venv
venv
venv/
Datasets/credits.csv
Datasets/movies_dataset.csv
Datasets/LARG_moviesdataset_reducido_ml.csv
Datasets/LARG_moviesdataset_reducido_ml_sample
Datasets/LARG_moviesdataset_reducido_ml_sample_mask
Datasets/LARG_moviesdataset_reducido_ml_sample_50.csv
Datasets/LARG_moviesdataset_reducido_ml_sample_60.csv
Datasets/LARG_moviesdataset_reducido_ml_sample_80.csv