abimap==0.3.1
aiohttp==3.8.4
aiohttp-socks==0.8.0
aiosignal==1.2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
backcall==0.2.0
basemap==1.3.7
basemap-data==1.3.2
beautifulsoup4==4.11.1
bleach==4.1.0
branca==0.5.0
cached-property==1.5.1
category-encoders==2.6.1
cchardet==2.1.7
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colormap==1.0.4
contextlib2==21.6.0
contextvars==2.4
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docker==2.6.1
docker-compose==1.18.0
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.18.1
elastic-transport==8.4.0
elasticsearch==8.8.0
entrypoints==0.4
fake-useragent==1.1.3
fastapi==0.83.0
filelock==3.4.1
Fiona==1.8.22
Flask==2.0.3
folium==0.13.0
frozenlist==1.2.0
geographiclib==1.52
geopandas==0.9.0
geopy==2.2.0
git-cola==3.10.1
googletransx==2.4.2
h11==0.13.0
httplib2==0.18.1
idna==2.10
idna-ssl==1.1.0
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.2
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
keras==2.10.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mod-wsgi==4.9.0
MouseInfo==0.1.3
mplleaflet==0.0.5
multidict==5.2.0
munch==4.0.0
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
nltk==3.6.7
notebook==6.4.10
numpy==1.19.5
openai==0.8.0
openshot-qt==2.5.1
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2022.4.8
platformdirs==2.4.0
plotly==5.13.1
prometheus-client==0.15.0
prompt==0.4.1
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pyarrow==6.0.1
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==1.9.2
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==3.0.9
pyperclip==1.8.2
pyproj==3.0.1
PyQt5==5.12.1
PyQt5_sip==4.19.22
PyRect==0.2.0
pyrsistent==0.18.0
PyScreeze==0.1.28
pyshp==2.3.1
PySocks==1.6.8
python-dateutil==2.8.2
python-dotenv==0.20.0
python-socks==2.3.0
python3-xlib==0.15
pytweening==1.0.4
pytz==2022.7.1
pywhatkit==5.4
PyYAML==3.13
pyzmq==24.0.1
qtconsole==5.2.2
QtPy==2.0.1
regex==2023.6.3
requests==2.27.1
rfc3986==1.3.0
schedule==1.1.0
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.8.0
Shapely==1.8.5.post1
six==1.14.0
sklearn==0.0.post1
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.19.1
statistics==1.0.3.5
statsmodels==0.12.2
tenacity==8.2.2
terminado==0.12.1
testpath==0.6.0
textblob==0.17.1
texttable==1.6.2
threadpoolctl==3.1.0
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.26.16
uvicorn==0.16.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.47.0
Werkzeug==2.0.3
widgetsnbextension==3.6.1
wikipedia==1.4.0
wordcloud==1.9.2
xgboost==1.5.2
xlrd==2.0.1
XlsxWriter==3.0.8
xlwt==1.3.0
yarl==1.7.2
zipp==3.6.0
